.input-file {
  background: none;
  display: block;
  @include size(300);

  cursor: pointer;
  border-radius: 36%;
  opacity: 0;
  position: relative;
}
.input-file:hover ~ .encryption_input-file-label .encryption_input-file-border {
  color: rgba(0,0,0,0.38);
  transition: 0.5s;
}
.input-file:active ~ .encryption_input-file-label .encryption_input-file-border {
  color: rgba(0,0,0,0.15);
  transition: 0.1s;
  animation-play-state: paused;
}
.encryption_form--uploaded .encryption_input-file-border {
  animation-play-state: paused;
}
.encryption_input-file-label {
  position: relative;
  z-index: -1;
  @include size(300);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.encryption_input-file-border {
  color: white;
  @keyframes size {
    0% {
      width: 100%;
    }
    80% {
      width: 100%;
    }
    90% {
      width: 95%;
    }
    100% {
      width: 100%;
    }
  }
  animation: ease-in-out size 5s infinite;
}

.encryption_input-img-wrap {
  display: none;
  @include size(150);
  position: absolute;
  border-radius: 36%;
  border: 10px solid rgba(0,0,0,0.38);
  overflow: hidden;
}
.encryption_form--uploaded .encryption_input-img-wrap {
  display: block;
}
.encryption_form--updated .encryption_input-file-border {
  transform: scale(0);
}
.encryption_form--updated .encryption_input-img-wrap {
  transition: 0.5s;
  @include size(280);
}
.encryption_input-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
