@mixin font($family) {
    @if $family == text {
        font-family: "CascadiaMono", "Arial", sans-serif;
    } @else if $family == title {
        font-family: "CascadiaMono", "Arial", sans-serif;
    }
}
@mixin text-style {
  color: black;

  @include text(10, 10, 700);
}
@mixin text($size, $height: $size, $weight: 400) {
  font-size: $size * 1px;
  font-weight: $weight;
  line-height: $height * 1px;
}

@mixin size($width, $height: $width) {
  width: $width * 1px;
  height: $height * 1px;
}

@mixin active($hover-opacity: 0.6, $active-opacity: 0.3) {
  &:hover {
    opacity: $hover-opacity;
  }
  &:active {
    opacity: $active-opacity;
  }
}

@mixin pseudo($order, $top, $left, $img-name, $width, $height: $width) {
  position: relative;

  &::#{$order} {
    position: absolute;
    top: $top * 1px;
    left: $left * 1px;

    width: $height * 1px;
    height: $height * 1px;

    content: "";

    background-image: url('../img/#{$img-name}');
    background-repeat: no-repeat;
    background-position: center;
  }
}
@mixin pseudo-url($order, $img-name) {
  position: relative;

  &::#{$order} {
    background-image: url('../img/#{$img-name}');
  }
}

@mixin font-face($font-family, $url, $weight, $style: normal) {
	@font-face {
    font-family: '#{$font-family}';
		font-weight: $weight;
		font-style: $style;

		src: url('../fonts/#{$url}.woff2') format('woff2'),
		url('../fonts/#{$url}.woff') format('woff');
		font-display: swap;
	}
}

@mixin retina-bg($img-name, $extension: 'jpg') {
  .webp & {
    background-image: url('../img/#{$img-name}.webp');

    @media (min-resolution: 144dpi), (css-min-resolution: 1.5dppx) {
    	background-image: url('../img/#{$img-name}@2x.webp');
    }
  }

  .no-webp & {
    background-image: url('../img/#{$img-name}.#{$extension}');

    @media (min-resolution: 144dpi), (css-min-resolution: 1.5dppx) {
    	background-image: url('../img/#{$img-name}@2x.#{$extension}');
    }
  }
}
