//colors
--accent: #000;
//font
--base-font: 16;
// media queries width
--s-width: 575.98px;
--m-width: 767.98px;
--l-width: 991.98px;
--xl-width: 1199.98px;
//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
